<p id="notice"><%= notice %></p>

<p>
  <strong>Bds status:</strong>
  <%= @core.bds_status %>
</p>

<p>
  <strong>Sfdc:</strong>
  <%= @core.sfdc_id %>
</p>

<p>
  <strong>Sfdc tier:</strong>
  <%= @core.sfdc_tier %>
</p>

<p>
  <strong>Sfdc sales person:</strong>
  <%= @core.sfdc_sales_person %>
</p>

<p>
  <strong>Sfdc type:</strong>
  <%= @core.sfdc_type %>
</p>

<p>
  <strong>Sfdc ult grp:</strong>
  <%= @core.sfdc_ult_grp %>
</p>

<p>
  <strong>Sfdc ult rt:</strong>
  <%= @core.sfdc_ult_rt %>
</p>

<p>
  <strong>Sfdc group:</strong>
  <%= @core.sfdc_group %>
</p>

<p>
  <strong>Sfdc grp rt:</strong>
  <%= @core.sfdc_grp_rt %>
</p>

<p>
  <strong>Sfdc acct:</strong>
  <%= @core.sfdc_acct %>
</p>

<p>
  <strong>Sfdc street:</strong>
  <%= @core.sfdc_street %>
</p>

<p>
  <strong>Sfdc city:</strong>
  <%= @core.sfdc_city %>
</p>

<p>
  <strong>Sfdc state:</strong>
  <%= @core.sfdc_state %>
</p>

<p>
  <strong>Sfdc zip:</strong>
  <%= @core.sfdc_zip %>
</p>

<p>
  <strong>Sfdc ph:</strong>
  <%= @core.sfdc_ph %>
</p>

<p>
  <strong>Sfdc url:</strong>
  <%= @core.sfdc_url %>
</p>

<%= link_to 'Edit', edit_core_path(@core) %> |
<%= link_to 'Back', cores_path %>
