<div id="admin-starter" class="scr-prof-net scr-prof">
  <table class="table table-bordered no-wrap">
    <tr><th colspan="2">Scraper Starters</th></tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to url_redirect_checker_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  URL Redirector
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to who_starter_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  WhoIs Search
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to template_finder_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Template Finder
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to page_finder_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Page Finder
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to rooftop_data_getter_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Rooftop Scraper
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to meta_scraper_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Meta Scraper
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to cs_data_getter_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Staff Scraper
        <% end %>
      </td>
    </tr>
  </table>
</div><br>
