<div id="admin-starter" class="scr-prof-net scr-prof">
  <table class="table table-bordered no-wrap">
    <tr><th colspan="2">Dashboard Calculators</th></tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to dashboard_mega_btn_path, class: 'btn btn-green btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> MEGA Stats
        <% end %>
      </td>
    </tr>
  </table><br>

  <table class="table table-bordered no-wrap">
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to cores_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Account Stats
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to staffers_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Contact Stats
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to franchise_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Franchise Stats
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to geo_locations_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> GeoLocation Stats
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to indexer_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Indexer Stats
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to whos_dash_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> WhoIs Stats
        <% end %>
      </td>
    </tr>
  </table>
</div><br>
