
<!-- BY DEFAULT THESE BUTTONS SHOULD BE DISABLED.  ONLY ENABLE ON CASE-BY-CASE TEMPORARILY -->

<div id="admin-starter" class="scr-prof-net scr-prof">
  <table class="table table-bordered no-wrap">
    <tr><th colspan="3">Power Buttons</th></tr>
    <tr>
      <td>
        <%= link_to core_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Core Power
        <% end %>
      </td>
      <td>
        <%= link_to staffer_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Staffer Power
        <% end %>
      </td>
      <td>
        <%= link_to indexer_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Indexer Power
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <%= link_to who_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Who Power
        <% end %>
      </td>
      <td>
        <%= link_to location_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Location Power
        <% end %>
      </td>
      <td>
        <%= link_to dashboard_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
        <i class="fa fa-magic" aria-hidden="true"></i> Dashboard Power
        <% end %>
      </td>
    </tr>

  </table>
</div><br>

<!-- BY DEFAULT THESE BUTTONS SHOULD BE DISABLED.  ONLY ENABLE ON CASE-BY-CASE TEMPORARILY -->
