<div class="scr-prof-net scr-prof">
  <table class="table table-bordered no-wrap">
    <thead>
      <tr>
        <th class="level-heading"><%= header %></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Work Phone</th>
        <th>Mobile Phone</th>
        <th>Department</th>
        <th class="manage-btn">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td data-id="<%= user.id %>" onClick="selectUsers(this);">
          <%= fa_icon "check lg", class: "stat-btn fa-clear" %>
        </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.work_phone %></td>
        <td><%= user.mobile_phone %></td>
        <td><%= user.department %></td>
        <td class='bg-light-red' >
          <%= link_to admin_delete_user_path(user: user), data: { confirm: 'Are you sure to delete this user?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>
