<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Developer Only</h1>

    <!-- Scraper buttons -->
    <%= render partial: 'starters_scraper' %>

    <!-- Formatter buttons -->
    <%= render partial: 'starters_formatter' %>

    <!-- Finalizer buttons -->
    <%= render partial: 'starters_finalizer' %>

    <!-- Dashboard buttons -->
    <%= render partial: 'starters_dashboard' %>

    <!-- Location buttons -->
    <%#= render partial: 'starters_location' %>

    <!-- Power buttons for development -->
    <%= render partial: 'starters_power' %>

  </div>
</div>
