<p id="notice"><%= notice %></p>

<p>
  <strong>Staffer status:</strong>
  <%= @staffer.staffer_status %>
</p>

<p>
  <strong>Cont status:</strong>
  <%= @staffer.cont_status %>
</p>

<p>
  <strong>Cont source:</strong>
  <%= @staffer.cont_source %>
</p>

<p>
  <strong>Sfdc:</strong>
  <%= @staffer.sfdc_id %>
</p>

<p>
  <strong>Sfdc sales person:</strong>
  <%= @staffer.sfdc_sales_person %>
</p>

<p>
  <strong>Sfdc type:</strong>
  <%= @staffer.sfdc_type %>
</p>

<p>
  <strong>Sfdc acct:</strong>
  <%= @staffer.sfdc_acct %>
</p>

<p>
  <strong>Site acct:</strong>
  <%= @staffer.site_acct %>
</p>

<p>
  <strong>Sfdc group:</strong>
  <%= @staffer.sfdc_group %>
</p>

<p>
  <strong>Sfdc ult grp:</strong>
  <%= @staffer.sfdc_ult_grp %>
</p>

<p>
  <strong>Site street:</strong>
  <%= @staffer.site_street %>
</p>

<p>
  <strong>Site city:</strong>
  <%= @staffer.site_city %>
</p>

<p>
  <strong>Site state:</strong>
  <%= @staffer.site_state %>
</p>

<p>
  <strong>Site zip:</strong>
  <%= @staffer.site_zip %>
</p>

<p>
  <strong>Site ph:</strong>
  <%= @staffer.site_ph %>
</p>

<p>
  <strong>Sfdc cont fname:</strong>
  <%= @staffer.sfdc_cont_fname %>
</p>

<p>
  <strong>Sfdc cont lname:</strong>
  <%= @staffer.sfdc_cont_lname %>
</p>

<p>
  <strong>Sfdc cont job:</strong>
  <%= @staffer.sfdc_cont_job %>
</p>

<p>
  <strong>Sfdc cont phone:</strong>
  <%= @staffer.sfdc_cont_phone %>
</p>

<p>
  <strong>Sfdc cont email:</strong>
  <%= @staffer.sfdc_cont_email %>
</p>

<p>
  <strong>Sfdc cont inactive:</strong>
  <%= @staffer.sfdc_cont_inactive %>
</p>

<p>
  <strong>Sfdc cont:</strong>
  <%= @staffer.sfdc_cont_id %>
</p>

<p>
  <strong>Sfdc cont influence:</strong>
  <%= @staffer.sfdc_cont_influence %>
</p>

<p>
  <strong>Site cont fname:</strong>
  <%= @staffer.site_cont_fname %>
</p>

<p>
  <strong>Site cont lname:</strong>
  <%= @staffer.site_cont_lname %>
</p>

<p>
  <strong>Site cont fullname:</strong>
  <%= @staffer.site_cont_fullname %>
</p>

<p>
  <strong>Site cont job:</strong>
  <%= @staffer.site_cont_job %>
</p>

<p>
  <strong>Site cont job raw:</strong>
  <%= @staffer.site_cont_job_raw %>
</p>

<p>
  <strong>Site cont phone:</strong>
  <%= @staffer.site_cont_phone %>
</p>

<p>
  <strong>Site cont email:</strong>
  <%= @staffer.site_cont_email %>
</p>

<p>
  <strong>Site cont influence:</strong>
  <%= @staffer.site_cont_influence %>
</p>

<p>
  <strong>Template:</strong>
  <%= @staffer.template %>
</p>

<p>
  <strong>Staffer date:</strong>
  <%= @staffer.staffer_date %>
</p>

<%= link_to 'Edit', edit_staffer_path(@staffer) %> |
<%= link_to 'Back', staffers_path %>
