<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @who.domain %>
</p>

<p>
  <strong>Domain ID:</strong>
  <%= @who.domain_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @who.ip %>
</p>

<p>
  <strong>Server1:</strong>
  <%= @who.server1 %>
</p>

<p>
  <strong>Server2:</strong>
  <%= @who.server2 %>
</p>

<p>
  <strong>Registrar url:</strong>
  <%= @who.registrar_url %>
</p>

<p>
  <strong>Registrar:</strong>
  <%= @who.registrar_id %>
</p>

<p>
  <strong>Registrant:</strong>
  <%= @who.registrant_id %>
</p>

<p>
  <strong>Registrant type:</strong>
  <%= @who.registrant_type %>
</p>

<p>
  <strong>Registrant name:</strong>
  <%= @who.registrant_name %>
</p>

<p>
  <strong>Registrant organization:</strong>
  <%= @who.registrant_organization %>
</p>

<p>
  <strong>Registrant address:</strong>
  <%= @who.registrant_address %>
</p>

<p>
  <strong>Registrant city:</strong>
  <%= @who.registrant_city %>
</p>

<p>
  <strong>Registrant zip:</strong>
  <%= @who.registrant_zip %>
</p>

<p>
  <strong>Registrant state:</strong>
  <%= @who.registrant_state %>
</p>

<p>
  <strong>Registrant phone:</strong>
  <%= @who.registrant_phone %>
</p>

<p>
  <strong>Registrant fax:</strong>
  <%= @who.registrant_fax %>
</p>

<p>
  <strong>Registrant email:</strong>
  <%= @who.registrant_email %>
</p>

<p>
  <strong>Registrant url:</strong>
  <%= @who.registrant_url %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @who.admin_id %>
</p>

<p>
  <strong>Admin type:</strong>
  <%= @who.admin_type %>
</p>

<p>
  <strong>Admin name:</strong>
  <%= @who.admin_name %>
</p>

<p>
  <strong>Admin organization:</strong>
  <%= @who.admin_organization %>
</p>

<p>
  <strong>Admin address:</strong>
  <%= @who.admin_address %>
</p>

<p>
  <strong>Admin city:</strong>
  <%= @who.admin_city %>
</p>

<p>
  <strong>Admin zip:</strong>
  <%= @who.admin_zip %>
</p>

<p>
  <strong>Admin state:</strong>
  <%= @who.admin_state %>
</p>

<p>
  <strong>Admin phone:</strong>
  <%= @who.admin_phone %>
</p>

<p>
  <strong>Admin fax:</strong>
  <%= @who.admin_fax %>
</p>

<p>
  <strong>Admin email:</strong>
  <%= @who.admin_email %>
</p>

<p>
  <strong>Admin url:</strong>
  <%= @who.admin_url %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @who.tech_id %>
</p>

<p>
  <strong>Tech type:</strong>
  <%= @who.tech_type %>
</p>

<p>
  <strong>Tech name:</strong>
  <%= @who.tech_name %>
</p>

<p>
  <strong>Tech organization:</strong>
  <%= @who.tech_organization %>
</p>

<p>
  <strong>Tech address:</strong>
  <%= @who.tech_address %>
</p>

<p>
  <strong>Tech city:</strong>
  <%= @who.tech_city %>
</p>

<p>
  <strong>Tech zip:</strong>
  <%= @who.tech_zip %>
</p>

<p>
  <strong>Tech state:</strong>
  <%= @who.tech_state %>
</p>

<p>
  <strong>Tech phone:</strong>
  <%= @who.tech_phone %>
</p>

<p>
  <strong>Tech fax:</strong>
  <%= @who.tech_fax %>
</p>

<p>
  <strong>Tech email:</strong>
  <%= @who.tech_email %>
</p>

<p>
  <strong>Tech url:</strong>
  <%= @who.tech_url %>
</p>

<%= link_to 'Edit', edit_who_path(@who) %> |
<%= link_to 'Back', whos_path %>
